<div block:enabled={{enabled}} id="addon-component-scope">
  Addon Component Scope Styles State: {{enabled}}
  <div block:class="sub-class" id="addon-component-sub-class" block:enabled={{enabled}}>
    Addon Component Sub-class Styles State: {{enabled}}
  </div>
  <button {{action "toggleEnabled"}} id="toggle-enabled">Toggle Enabled States</button>
</div>